.hd-box {
    position: absolute;
    top: 0%;

    border: 2px solid blue;

    width: 100%;
    height: 10%;
}

.hd-box-inner {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    box-shadow: 0 4px 5px rgb(185, 181, 181);
}

.strg-btn {
    position: absolute;
    right: 2%;
    width: 9%;
    height: 70%;

    z-index: 10;

    background-color: brown;
    transition: all 0.1s ease-in-out;
}

.strg-btn:hover {
    background-color: rgb(219, 101, 101);

    cursor: pointer;
}

.hm-btn {
    position: absolute;
    right: 13%;
    width: 9%;
    height: 70%;

    z-index: 10;

    background-color: rgb(97, 165, 188);
    transition: all 0.1s ease-in-out;
}

.hm-btn:hover {
    background-color: rgb(131, 200, 224);

    cursor: pointer;
}