.ripe-box{
    width: 85%;
    height: 4%;

    position: absolute;
    border: 1px solid gray;
    top: 48%;
    /* left: 10%; */
}

.bar-box{
    width: 100%;
    height: 100%;

    position: relative;
    border: 1px solid blue;

    display: flex;
    align-items: center;
}

.bar{
    width: 100%;
    height: 30%;

    position: relative;
    background-image: linear-gradient(to right, #ef4444, #facc15, #22c55e);
}

.mark {
    width: 1.8%;
    height: 100%;

    background-color: rgb(77, 8, 77);
    position: absolute;
    top: 0%;
    left: 0%;
}