.ripe-box{
    width: 90%;
    height: 9%;

    /* position: absolute; */
    border: 1px solid gray;
    /* top: 51%; */
    /* left: 10%; */
}

.bar-box{
    width: 100%;
    height: 100%;

    position: relative;
    border: 1px solid blue;

    display: flex;
    align-items: center;
}

.bar{
    width: 100%;
    height: 30%;
    border-radius: 2;

    position: relative;
    background-image: linear-gradient(to left, #ef4444, #facc15, #22c55e);
}

.mark {
    width: 1.8%;
    height: 100%;

    border-radius: 2;

    background-color: rgb(77, 8, 77);
    position: absolute;
    top: 0%;
    left: 0%;
}