.sv-main-box {
    width: 100%;
    height: 100%;

    /* border: 2px solid red; */

    position: absolute;
    /* background-color: black; */
    opacity: 1;

    /* top: 3%; */
    /* right: 5%; */

    overflow: hidden;
}

.sv-box-inner {
    width: 100%;
    height: 100%;

    /* border: 2px solid blue; */

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.darken {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;

    transition: all 0.2s ease-in-out;
}

.sv-highlight {
    width: 85%;
    height: 20%;

    /* border: 2px solid red; */
    background-color: rgb(210, 210, 210);
    border-radius: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* position: absolute; */
    /* background-color: black; */
    opacity: 1;


    /* top: 3%; */
    /* right: 5%; */
}

.tmp-box {
    position: absolute;
    top: 33%;
    /* right: 5%; */

    width: 65%;
    height: 45%;

    border: 2px solid pink;
    border-radius: 9;
    background-color: white;

    /* transition: all 0.4s ease-in-out; */
    box-shadow: 0 4px 5px rgb(185, 181, 181);
    opacity: 1;
}

.tmp-box-inner {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sv-final-btn {
    /* position: absolute;
    bottom: 10%; */
    /* right: 5%; */

    width: 35%;
    height: 18%;

    border: 3px solid black;
    color: white;
    font-weight: bold;
    margin-top: 4%;
    background-color: darkolivegreen;
    border-radius: 10;
}

.sv-final-btn:hover {
    cursor: pointer;
}

.inp-num {
    border: 2px solid black;
    background-color: white;
    width: 20%;
    height: 55%;
    border-radius: 5;

    transition: all 0.2s ease-in-out;

    /* position: absolute;
    top: 37%;
    left: 13%; */
}

.inp-num:hover {
    border: 2px solid black;
    background-color: rgb(50, 164, 202);
    width: 20%;
    height: 55%;
    border-radius: 5;

    /* position: absolute;
    top: 37%;
    left: 13%; */
}

.inp-num-active {
    border: 2px solid black;
    background-color: rgb(85, 121, 167);
    width: 20%;
    height: 55%;
    border-radius: 5;

    /* position: absolute;
    top: 37%;
    left: 13%; */
}

.btn-box {
    position: relative;
    /* top: 35%; */
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 3%;

    width: 100%;
    height: 60%;
}

.tmp-btn {
    /* position: absolute;
    top: 35%; */
    border: 2px solid black;
    background-color: lightblue;
    border-radius: 5;

    width: 20%;
    height: 55%;
    transition: all 0.2s ease-in-out;
}

.tmp-btn:hover {
    background-color: rgb(50, 164, 202);
    cursor: pointer;
}

.tmp-btn-active {
    /* position: absolute;
    top: 35%; */
    border: 2px solid black;
    background-color: rgb(85, 121, 167);
    border-radius: 5;

    width: 20%;
    height: 55%;
    transition: all 0.2s ease-in-out;
}

.sv-text {
    border: 2px solid black;
    /* position: absolute;
    top: 10%; */

    font-size: 20;
    font-weight: bolder;
}