.strg-screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 2px solid black
}

.strg-box {
    width: clamp(450px, 80%, 600px);
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16%;

    border: 2px solid purple
}

.strg-box-inner {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 2px solid pink
}