.screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 2px solid black
}

.main-box {
    width: clamp(500px, 70%, 600px);
    height: 83%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14%;

    /* border: 2px solid purple; */
    border-radius: 10;

    box-shadow: 0px 2px 5px 1px rgb(136, 136, 136);
}

.main-box-inner {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /* border: 2px solid pink */
}

.inp {
    width: 30%;
    height: 5%;

    top: 45%;
    left: 8%;

    position: absolute;
    border: 2px solid blue;
}

.img-box {
    width: 85%;
    height: 43%;

    top: 5%;
    /* left: 8%; */

    overflow: hidden;
    border: 2px solid pink;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(210, 210, 210);

    border-radius: 9;
}
.img{
    /* height: 100%; */
    object-fit: cover;
}

.submit {
    position: absolute;

    width: 12%;
    height: 9%;

    top: 41%;
    right: 5%;

    /* border: 2px solid black; */
    background-color: rgb(68, 150, 29);
    color: white;
    font-weight: bold;
    cursor: pointer;

    border-radius: 100%;

    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background-color: rgb(74, 181, 74);
}

.sv-box {
    width: 9%;
    height: 8%;

    border: 2px solid red;

    position: absolute;
    top: 4%;
    right: 5%;
}

.sv-btn {
    /* position: absolute;
    top: 3%;
    right: 5%; */

    width: 100%;
    height: 100%;

    /* z-index: 20; */

    background-color: orange;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
}

.sv-btn:hover{
    background-color: rgb(255, 200, 97);

    cursor: pointer;
}

.scnd-main-box {
    /* border: 2px solid red; */
    background-color: rgb(210, 210, 210);
    border-radius: 9;
    width: 85%;
    height: 45%;

    position: absolute;
    top: 52%;
    /* left: 10%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.res-box {
    border: 2px solid red;
    border-radius: 9;
    width: 90%;
    height: 76%;

    /* position: absolute;
    top: 56%; */
    /* left: 10%; */

    display: flex;
    flex-direction: column;
    gap: 3%;
}

.res-box p {
    font-size: clamp(1rem, 2.5vw, 1rem);
}