.screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 2px solid black
}

.main-box {
    width: clamp(450px, 80%, 600px);
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16%;

    border: 2px solid purple
}

.main-box-inner {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 2px solid pink
}

.inp {
    width: 30%;
    height: 5%;

    top: 41%;
    left: 8%;

    position: absolute;
    border: 2px solid blue;
}

.img-box {
    width: 85%;
    height: 35%;

    top: 5%;
    /* left: 8%; */

    overflow: hidden;
    border: 2px solid pink;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    /* height: 100%; */
    object-fit: cover;
}

.submit {
    position: absolute;

    width: 20%;
    height: 5.5%;

    top: 41%;
    right: 8%;

    border: 2px solid black;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background-color: rgb(59, 176, 59);
}

.res-box {
    border: 2px solid red;
    width: 85%;
    height: 42%;

    position: absolute;
    top: 54%;
    /* left: 10%; */

    display: flex;
    flex-direction: column;
    gap: 3%;
}

.res-box p {
    font-size: clamp(1rem, 3vw, 1.1rem);
}